Edmund Hart <edmund.m.hart@gmail.com> <edmund_hart@apple.com>
Edmund Hart <edmund.m.hart@gmail.com> Ted Hart <edmund.m.hart@gmail.com>
Mark Robinson <mark.robinson@imls.uzh.ch> markrobinsonuzh <markrobinsonuzh@users.noreply.github.com>
Mark Robinson <mark.robinson@imls.uzh.ch> markrobinsonuzh <mark.robinson@imls.uzh.ch>
Tracy Teal <tkteal@gmail.com> <tracyt@idyll.org>
Francois Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Karen Cranston <karen.cranston@gmail.com>
Markus J. Akenbrand <iimog@iimog.org>
Shawn Taylor <sdtaylor@users.noreply.github.com>
Mateusz Kuzak <mateusz.kuzak@gmail.com>
Matthias Grenié <matthias.grenie@hotmail.com>
Christie Bahlai <cbahlai@msu.edu>
Meghan Duffy <duffy.ma@gmail.com>
Zena Lapp <zenalapp@umich.edu>
Kevin Hall <KWHall@MSU.edu>
Laurent Gatto <lg390@cam.ac.uk>
Clara Shaw <claralouise.shaw@gmail.com>
Eilis Hannon <e.j.hannon@ex.ac.uk>
Dmytro Fishman <dmytrofishman@gmail.com>
Joseph Stachelek <jstachelek@utexas.edu>
Marco Chiapello <mc983.cam@gmail.com>
Philip Lijnzaad <plijnzaad@users.noreply.github.com>
Ryan Peek <rapeek@ucdavis.edu>
Sarah Supp <sarah@weecology.org>
sfn_brt <kemya@users.noreply.github.com>
Daniel Stubbs <daniel.stubbs@calculquebec.ca>
suparee <suparee@uw.edu>