body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 1.1em;
}

pre {
    font-size: 15px;
}

blockquote  {
    background: #efefef;
    border-left: 5px solid #ddd;
}

.ui-state-default {
    background: #ced7e0;
}

.ui-state-active {
    border: #ccc;
    background: #4070A0;
}

.ui-widget-content {
    background: #eee;
}
