
<div id="any">

  <h3>Setting Up</h3>

    <p>
      This workshop may require some software installation, and details will be included here.

    </p>


    <div class="col-md-4">
      <h4 id="windows">Windows</h4>
      <ol>
	<li>
          Download and install 
	</li>
	<li>

	</li>
      </ol>
    </div>


    <div class="col-md-4">
      <h4 id="macosx">Mac OS X</h4>
      <ol>
	<li>
          Download and install
	</li>
	<li>

	</li>
      </ol>
    </div>



    <div class="col-md-4">
      <h4 id="linux">Linux</h4>
      <ol>
	<li>
	  Download and install
	</li>
	<li>

	</li>
      </ol>
    </div>


</div> 
