
<div id="python"> <!-- Start of 'Python' section. Remove the third paragraph if
           the workshop will teach Python using something other than
           the IPython notebook.
           Details at http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility -->
  <h3>Setting Up Python</h3>

  <p>
    <a href="http://python.org">Python</a> is a popular language for
    scientific computing, and great for general-purpose programming as
    well.  Installing all of its scientific packages individually can be
    a bit difficult, so we recommend an all-in-one installer.
  </p>

    <p>
      Regardless of how you choose to install it,
      <strong>please make sure you install Python version 2.x and not version 3.x</strong>
      (e.g., 2.7 is fine but not 3.4).
      Python 3 introduced changes that will break some of the code we teach during the workshop.
    </p>

    <p>
      We will teach Python using the IPython notebook, a programming environment
      that runs in a web browser. For this to work you will need a reasonably
      up-to-date browser. The current versions of the Chrome, Safari and
      Firefox browsers are all <a
      href='http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility'>supported</a>
      (some older browsers, including Internet Explorer version 9
      and below, are not).
    </p>


    <div class="col-md-4">
      <h4 id="python-windows">Windows</h4>
      <ul>
	<li>
          Download and
          install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
	</li>
	<li>
          Download the default Python 2 installer (do not follow the link to version 3).
	  Use all of the defaults for installation
          <em>except</em> make sure to check
	  <b>Make Anaconda the default Python</b>.
	</li>
      </ul>
    </div>



    <div class="col-md-4">
      <h4 id="python-macosx">Mac OS X</h4>
      <ul>
	<li>
          Download and
          install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
	</li>
	<li>
          Download the default Python 2 installer (do not follow the link to version 3).
	  Use all of the defaults for installation.
	</li>
      </ul>
    </div>



    <div class="col-md-4">
      <h4 id="python-linux">Linux</h4>
      <p>
	We recommend the all-in-one scientific Python installer
	<a href="http://continuum.io/downloads.html">Anaconda</a>.
	(Installation requires using the shell and if you aren't
	comfortable doing the installation yourself just
	download the installer and we'll help you at the boot
	camp.)
      </p>
      <ol>
	<li>
          Download the installer that matches your operating
          system and save it in your home folder.
	  Download the default Python 2 installer (do not follow the link to version 3).
	</li>
	<li>
          Open a terminal window.
	</li>
	<li>
          Type <pre>bash Anaconda-</pre> and then press
          tab. The name of the file you just downloaded should
          appear.
	</li>
	<li>
          Press enter. You will follow the text-only prompts.  When
          there is a colon at the bottom of the screen press the down
          arrow to move down through the text. Type <code>yes</code> and
          press enter to approve the license. Press enter to approve the
          default location for the files. Type <code>yes</code> and
          press enter to prepend Anaconda to your <code>PATH</code>
          (this makes the Anaconda distribution the default Python).
	</li>
      </ol>
    </div>


</div> 
