<div id="r"> <!-- Start of 'R' section. -->
  <h3>R</h3>

  <p>
    <a href="http://www.r-project.org">R</a> is a programming language
    that is especially powerful for data exploration, visualization, and
    statistical analysis. To interact with R, we use
    <a href="http://www.rstudio.com/">RStudio</a>.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="r-windows">Windows</h4>
      <p>
	Install R by downloading and running
	<a href="http://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
	from <a href="http://cran.r-project.org/index.html">CRAN</a>.
	Also, please install the
	<a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-macosx">Mac OS X</h4>
      <p>
	Install R by downloading and running
	<a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
	from <a href="http://cran.r-project.org/index.html">CRAN</a>.
	Also, please install the
	<a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-linux">Linux</h4>
      <p>
	You can download the binary files for your distribution
	from <a href="http://cran.r-project.org/index.html">CRAN</a>. Or
	you can use your package manager (e.g. for Debian/Ubuntu
	run <code>sudo apt-get install r-base</code> and for Fedora run
        <code>sudo yum install R</code>).  Also, please install the
	<a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'R' section. -->