<div id="r"> <!-- Start of 'R' section. -->
  <h3>Spreadsheets</h3>

  <p>
    Spreadsheets are useful for data entry and data organization, and 
some subsetting and sorting of the data as well as getting an overview of the data. To interact with spreadsheets, we can use
    <a href="https://www.libreoffice.org">LibreOffice</a>,
    <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>,
    <a href="http://www.gnumeric.org">Gnumeric</a>, 
    <a href="https://www.openoffice.org">OpenOffice.org</a>, or other programs. 
  Commands may differ a bit between programs, but general ideas for thinking about spreadsheets is the same. 

<p>
For this lesson, if you don't have a spreadsheet program already, you can use <a href="https://www.libreoffice.org">LibreOffice</a>. It's a free, open source spreadsheet program.


    <div class="col-md-4">
      <h4 id="windows">Windows</h4>
      <p>
	<ul>
	  <li><b>Download the Installer</b>
	<br>Install LibreOffice by going to the <a href=https://www.libreoffice.org/download/libreoffice-fresh/>installation page</a>. The version for Windows 
should automatically be selected. Click <b>Download Version 4.4.2</b>. You 
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically. 
          <li><b>Install LibreOffice</b>
	    <br>Once the installer is downloaded, double click on it and it should install.
	    </ul>
      </p>
    </div>

    <div class="col-md-4">
      <h4 id="macosx">Mac OS X</h4>
      <p>
        <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.\
org/download/libreoffice-fresh/>installation page</a>. The version for Mac OS X
should automatically be selected. Click <b>Download Version 4.4.2</b>. You
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically.
          <li><b>Install LibreOffice</b>
            <br>The file <i>LibreOffice_4.4.2_MacOS_x86-64</i> should have been downloaded. Double click on this file, and LibreOffice will be installed. 
            </ul>
      </p>


    </div>
    
    <div class="col-md-4">
      <h4 id="linux">Linux</h4>
      <p>
        <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.\
org/download/libreoffice-fresh/>installation page</a>. The version for Linux
should automatically be selected. Click <b>Download Version 4.4.2</b>. You
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically.
          <li><b>Install LibreOffice</b>
            <br>Once the installer is downloaded, double click on it and it shou\
ld install.
            </ul>
      </p>



    </div>

</div> 
